snippet hh "Hacking Header" b
" ===============================================
" ${1:Untitled} --- ${2:Description} 
" Author: AyLax.Zhou < zhoubye@foxmail.com >
" Copyright (c) 2021-20xx AyLax.Zhou
" License: ${3:GPLv3}
" ===============================================


${0}
endsnippet


