# ===============================================
# all.snippets --- Snippet for All 
# Copyright (c) 2021-20xx aylax.dyn
# Author: aylax.dyn <aylax.dyn@gmail.com>
# ===============================================


