# ===============================================
# all.snippets --- Snippet for All 
# Author: AyLax.Zhou <zhoubye@foxmail.com>
# Copyright (c) 2021-20xx AyLax.Zhou
# ===============================================



snippet hh "Hacking Header" b
// ===============================================
// ${1:Untitled} --- ${2:Description} 
// Author: AyLax.Zhou <zhoubye@foxmail.com>
// Copyright (c) 2021-20xx AyLax.Zhou
// ===============================================


${0}
endsnippet


