# ===============================================
# haskell.snippets --- Snippet for Haskell 
# Copyright (c) 2021-20xx aylax.dyn
# Author: aylax.dyn <aylax.dyn@gmail.com>
# ===============================================


snippet hh "Hacking Header" b
-- ===============================================
-- ${1:Untitled} --- ${2:Description} 
-- Copyright (c) 2021-20xx aylax.dyn
-- Author: aylax.dyn <aylax.dyn@gmail.com>
-- ===============================================


${0}
endsnippet
