# ===============================================
# markdown.snippets --- Snippets for Markdown
# Copyright (c) 2021-20xx AyLax.Zhou
# Author: AyLax.Zhou <zhoubye@foxmail.com>
# ===============================================

