# ===============================================
# markdown.snippets --- Snippets for Markdown
# Copyright (c) 2021-20xx aylax.dyn
# Author: aylax.dyn <aylax.dyn@gmail.com>
# ===============================================


snippet link "link anchor"
[${1:Text}](${2:Url})
${0}
endsnippet

