# <type>:(scope) <subject>

## <body>

## <footer>

# types:
#    feat:     new feature
#    fix:      fix bug
#    doc:      document
#    style:    format code
#    refactor: refactor code
#    test:     spec
# scopes:
#    scopes of change    
# subject:
#    desc for commit (less than 50 chars)
# Body: 
#    detail desc
# Footer: 
#    issues or change log
#
#
# tip: git config --global commit.template git-commit.template
